{% include 'header.html' %}

<div id="content">
    <form action="" method="post">
        <p>Curent DNS : <input name="dnsedit" value="{{dns_edit}}">
        <input type="submit" name="submit" value="Save & Apply"></p>
    </form>
</div>
