<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Router Managment</title>
</head>
<body>

<div id="menu">
    <table align="center">
        <tr>
            <td align=center>
                [<a href='/'>Main</a>] -
                [<a href='/socks/edit'> TOR/SOCKS </a>] -
                [<a href='/wireguard/edit'> wireguard </a>] -
                [<a href='/dns/edit'> DNS </a>]
        </tr>
    </table>
</div>
</body>