{% include 'header.html' %}

<div id="content">
  <table align="center">
  <tr>
    <th>System status:</th>
    <th>{{uptime}}</th>
  </tr>
  <tr>
    <td>Curent Mode</td>
    <td>{{mode}}</td>
  </tr>
  <tr>
    <td>Wireguard</td>
    <td>{{wg_status}}</td>
  </tr>
  <tr>
    <td>TOR</td>
    <td>{{tor_status}}</td>
  </tr>
  <tr>
    <td>3proxy</td>
    <td>{{proxy_status}}</td>
  </tr>
  <tr>
    <td>DNS proxy</td>
    <td>{{dnsproxy_status}}</td>
  </tr>
</table>
</div>
