{% include 'header.html' %}

<div id="content">
    <table align="center">
        <tr>
            <td>wireguard status: </td>
            <td>{{wg_status}}</td>
        </tr>
    </table>
    <form action="" method="post">
        <p><textarea name="wgedit" style="width: 487px; height: 261px;">{{wg_conf}}</textarea></p>
        
          
        <p><input type="submit" name="start" value="start wg"></p>
        <p><input type="submit" name="stop" value="stop wg"></p>
        
    </form>
</div>
