body{
    height:100%;
    background:#0b223e;
    color:#CCCFD4;
    font-family:verdana,tahoma,arial;
}

#menu {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-weight:bold;
    font-size:10pt;
    font-family:verdana,tahoma,arial;
    text-decoration: none;
   }

#content {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    height: 400px;
    text-align: center;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-weight:bold;
}

#copyright {
    margin-top: 50px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    color:rgb(193,193,199);
}
